.cont{
    display: grid;
    grid-template-columns: 40% 60%;
    margin-top: 35vh;
}
.contText{
    padding-top: 2em;
}
h1,h2{
    color: rgb(29, 29, 29);
}
@media only screen and (max-width:800px){
    .cont{
        grid-template-columns: 100%;
        margin-top: auto;
    }
}
button{
    margin: 2em auto;
}
button svg{
    margin-bottom: 5%;
}