#root {
  text-align: center;
  background-color: #282c34;
  position: absolute;
  width: 100%;
  min-height: 100%;
}
.homeContainer{
    width: 60%;
    margin: auto;
    height: 100vh;
}
@media only screen and (max-width:800px){
  .homeContainer{
    width: 90%;
  }
}